.App{
    text-align: enter;
    background-color: #f0f0f0;
    padding: 20px;
}

h1{
    color:#333;
    font-size: 36px;
    margin-bottom :20px;
    display: flex;
    justify-content: center;
}

.headlines-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.headlines-card{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: left;
    transition: transform 0.2 ease-in-out;
}

.headlines-card:hover{
    transform: translateY(-5px);
}

.headline-title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.headline-title:hover{
    color:#007BFF;
}

